*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#ffd6e8,#ffeef6,#fff7fb);
    overflow:hidden;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.background{
    position:fixed;
    inset:0;
    background:radial-gradient(circle at top,#ffd1e6,#fff);
    z-index:-2;
}

.container,
.card,
#success{
    width:90%;
    max-width:420px;
    padding:30px;
    text-align:center;

    background:rgba(255,255,255,.35);
    backdrop-filter:blur(20px);

    border-radius:30px;

    box-shadow:0 20px 40px rgba(255,105,180,.2);

    animation:fade .8s;
}

.photo{
    width:170px;
    height:170px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid white;
    margin-bottom:20px;
}

h1,h2{
    color:#ff2d75;
}

.text{
    margin:20px 0;
    font-size:18px;
    color:#555;
}

button{
    margin-top:20px;
    padding:15px 30px;
    border:none;
    border-radius:40px;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

#nextBtn,
#yes{
    background:#ff2d75;
    color:white;
}

#nextBtn:hover,
#yes:hover{
    transform:scale(1.05);
}

#no{
    background:white;
    color:#ff2d75;
    position:relative;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:20px;
}

.hidden{
    display:none;
}

.heart{
    position:fixed;
    top:-30px;
    font-size:24px;
    animation:fall linear forwards;
    pointer-events:none;
}

@keyframes fall{

0%{
transform:translateY(-50px);
opacity:1;
}

100%{
transform:translateY(110vh);
opacity:0;
}

}

@keyframes fade{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}

}
